.robot-container {
  box-sizing: border-box;
  margin: auto;
  padding: 200px;
}

.robot-face-shape {
  border: 5px solid white;
  margin: auto;
  width: 800px;
  height: 600px;
  background-color: black;
  border-radius: 25%;
}

.robot-eye-left {
  width: 15%;
  height: 15%;
  position: relative;
  top: 100px;
  left: 200px;
  background: #feac5e; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4bc0c8,
    #c779d0,
    #feac5e
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  border: 10px solid;
  animation-name: box-scale;
  animation-duration: 0.5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@keyframes box-scale{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0);
  }
}

.robot-eye-right {
  width: 10rem;
  height: 10rem;
  border: 10px solid blueviolet;
  position: relative;
  left: 500px;
  border-radius: 50%;
  background-image: url(https://fastly.picsum.photos/id/916/200/200.jpg?hmac=hEUrLG-ayFdIoyHKUwazT8SMEsVxWH9xGz4tx-e0cN0);
  animation-name: rotate;
  animation-duration: 0.1s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes rotate{
  from{
    transform: rotate(360deg);
  }
}

.robot-eye-right{
  width: 200px;
  height: 200px;
}

.robot-ear-left {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: black;
  border-color: purple;
  border-style: double;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  right: 150px;
  bottom: 350px;
  animation-name: left-ear-move;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes left-ear-move{
  0%{
    bottom: 0;
    left: 0;
  }
  25%{
    bottom: 0;
    left: 100px;
  }

  50%{
    bottom: 350px;
    left:0px;
  }

  75%{
    bottom: 350px;
    left: 100px;
  }

  100%{
    bottom: 350px;
    left: 300px;
  }
}

.robot-ear-right {
  width: 96px;
  box-sizing: content-box;
  height: 48px;
  background: #eee;
  border-color: red;
  border-style: solid;
  border-width: 2px 2px 50px 2px;
  border-radius: 100%;
  position: relative;
  left: 850px;
  bottom: 450px;
  opacity: 50%;
  transition: all;
}

.robot-ear-right:hover{
  transform: rotate(180deg);
}

.robot-nose {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid dodgerblue;
  position: relative;
  left: 350px;
  animation-name: color-change;
  animation-duration: 5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes color-change{
  from{
    background-color: dodgerblue;
  }
  to{
    background-color: darkred;
  }
}


.robot-teeth {
  width: 500px;
  height: 100px;
  background: transparent;
  border-radius: 100px / 50px;
  border: 10px solid aquamarine;
  position: relative;
  left: 150px;
  top: 100px;
  animation-name: mouth;
  animation-duration: 5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes mouth{
  from{
    transform: scale(1);
  }
  to{
    transform: scale(1.2);
  }
  
}

.robot-tooth {
  width: 300px;
  height: 5px;
  background-color: seagreen;
  position: relative;
  left: 100px;
  top: 20px;
  animation-name: teeth;
  animation-duration: 0.1s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes teeth {
  from{
    transform: scale(1);
  }
  to{
    transform: scale(0.5);
  }
}

.robot-hair-style {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid paleturquoise;
  position: relative;
  left: 350px;
  bottom: 900px;
  animation-name: hair;
  animation-duration: 5s;
  animation-fill-mode: none;
  animation-iteration-count: infinite;
}

@keyframes hair{
  from{
    transform: scale(1)
  }
  to{
    transform: scale(0.5);
  }
}

.robot-hair-one {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid coral;
  position: relative;
  left: 150px;
  bottom: 100px;
}



.robot-hair-two {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 100px solid goldenrod;
  position: relative;
  right: 250px;
  bottom: 200px;
}



.robot-hair-three {
  
}
